* {
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 0, 15);
}

.content {
    background-image: url("../images/960_620.jpg");
    background-position: center;
    background-repeat: no-repeat;

    margin: auto;
    width: 960px;
    height: 620px;
 
}
